.swiftpm/xcode/package.xcworkspace/xcuserdata/vcherepjanko.xcuserdatad/UserInterfaceState.xcuserstate
Sources/.DS_Store
.DS_Store
.swiftpm/xcode/xcuserdata/vcherepjanko.xcuserdatad/xcschemes/xcschememanagement.plist
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/xcuserdata/Valentin.xcuserdatad/xcschemes/xcschememanagement.plist
.swiftpm/xcode/package.xcworkspace/xcuserdata/a18785272.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/xcuserdata/a18785272.xcuserdatad/xcschemes/xcschememanagement.plist
